.u-Masthead__siteName {
    font-size: 5em;
}
@media screen {
    .u-lHeader {
        padding: 3.5em !important;
    }
}
.u-Masthead__siteName--link {
    @include link-colors($fontColor, $linkColorHoverFocus, $linkColorActive, $fontColor, $linkColorHoverFocus);
}
.u-lHeader {
    background: #fff url() no-repeat center;
}
.u-BreadCrumbs,
.u-pageTitle {
    display: block;
    visibility: visible;
}

/* News Styles */
.u-ArticleListItem__title {
    line-height: 1.1;
    text-transform: none;
    margin-top: 0;
    font-weight: 600 !important;
}
h3.u-Article__title {
    font-size: 3em;
    line-height: 1;
    margin-top: 0;
}
.u-ArticleNavGroup__navButton--archive,
.u-ArticleNavGroup__navButton--more,
.u-NewsContactLink a h4 {
    text-align: center;
    font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed;
    text-transform: uppercase;
    letter-spacing: .03em;
    padding: 0 .25em .19em;
}
.Share {
    border-bottom: 1px dashed;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
.Share ul {
    margin: 0;
}
@media screen {
    .u-ArticleGroup {
        margin:0 auto;
        padding: 0 4%;
        max-width: 18em;
    }
    .u-newsInner {
        .u-lMain {
            max-width: 55em;
            width: auto;
            margin: 0 auto 5%;
            padding: 0 4%;
            overflow: hidden;
        }
        .u-lAside {
            width: 100%;
            float: none;
        }
        .u-lContent {
            width: 100%;
            float: none;
        }
    }
    .u-ArticleListItem {
        margin-bottom: 0;
    }
    .u-ArticleListItem__link {
        display: block;
        overflow: hidden;
        margin-bottom: 10%;
        padding-bottom: 7.5%;
    }
    .u-ArticleListItem__thumbnail {
        float: none;
        width: 100%;
        margin: 0 0 2.5% !important;
    }
    .u-ArticleListItem__summary {
        margin-bottom: 0;
    }
    .u-ArticleListItem__label--externalLink,
    .u-ArticleList__separator,
    h4.Share__heading {
        display: none;
        visibility: hidden;
    }
    .u-ArticleNavGroup {
        text-align: center;
    }
    .u-ArticleNavGroup__navButton--more,
    .u-ArticleNavGroup__navButton--archive,
    .u-NewsContactLink a h4 {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: .5em;
    }
}
@media all and (min-width: 37.5em) {
    .u-ArticleGroup {
        max-width: 45em;
    }
    .u-newsInner {
        .u-lMain {
        }
        .u-lAside {
            width: 30%;
            float: right;
            padding: .75em 0 0;
        }
        .u-lContent {
            width: 70%;
            float: left;
            padding: 0 5% 0 0;
        }
    }
    .u-ArticleListItem__link {
        display: block;
        overflow: hidden;
        margin-bottom: 6%;
        padding-bottom: 3.5%;
    }
    .u-ArticleListItem__thumbnail {
        float: left;
        width: 13em;
        margin: 0 2.5% 2.5% 0 !important;
    }
    .u-ArticleNavGroup__navButton--more,
    .u-ArticleNavGroup__navButton--archive,
    .u-NewsContactLink a h4 {
        display: inline;
        float: inherit;
        width: inherit;
        margin-bottom: 0;
    }
    .u-lAside .Share li {
        width: 15%;
    }
}
.u-ArticleListItem__link {
    transition: all .2s;
    &:link {
        border-bottom: 1px dashed rgba(116, 102, 97, .3);
    }
    .u-ArticleListItem__title,
    .u-ArticleListItem__summary,
    .u-Figure__image {
        transition: all .2s;
    }
    &:visited {
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorVisited;
        }
    }
    &:hover,
    &:focus {
        border-bottom: 1px dashed rgb(116, 102, 97);
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorHoverFocus;
        }
        .u-Figure__image {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }
    &:active {
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorActive;
        }
        .u-Figure__image {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }
}
.u-ArticleNavGroup__navButton--archive,
.u-ArticleNavGroup__navButton--more,
.u-NewsContactLink a h4 {
    background: $linkColor;
    color: #fff;
    border: 1px solid #fff;
    &:visited {
        background: $linkColor;
        color: #fff;
    }
    &:hover,
    &:focus {
        background: $linkColorHoverFocus;
        color: #fff;
    }
    &:active {
        background: $linkColorActive;
        color: #fff;
    }
}
.Share {
    border-bottom: 1px dashed rgba(116, 102, 97, .3);
}