@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
	color: $normal;
	@if $visited {
		&:visited {
			color: $visited; } }
	@if $focus {
		&:focus {
			color: $focus; } }
	@if $hover {
		&:hover {
			color: $hover; } }
	@if $active {
		&:active {
			color: $active; } }
}
@mixin  ac-hiddenVisually() {
	border:0 !important;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px !important;
	padding:0 !important;
	overflow: hidden;
	position: absolute !important;
	width: 1px !important;
}

@import "_config";

/* extend */
.title-gradient {
    color: $burgundy-2;
    text-transform: none;
    background: linear-gradient(135deg, $burgundy-2 0%, $burgundy-bright 70%);
    -webkit-background-clip: text;
    color: transparent;
}
.PageContentInner {
    display: grid;
    grid-column-gap: 0;
    grid-template-areas:
        "header header header header"
        "main-navigation main-navigation main-navigation main-navigation "
        "second-navigation second-navigation second-navigation second-navigation"
        "main main main main"
        "footer footer footer footer";
    /*grid-template-columns: 1fr minmax(5em, 20rem) minmax(5em, 48rem) 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.u-lHeader {
    padding: 14% 8% 0 0 !important;
    grid-area: header;
}
.u-Masthead {
    margin: 0 auto 0 5%;
}
.u-Masthead__siteName {
    font-family: $serif;
    font-weight: $fontWeightRegular;
    font-size: 2.5em;
    width: 100%;
    max-width: none;
    text-transform: none;
    text-align: left;
    letter-spacing: 0;
}
.u-Masthead__siteName--link {
    background-color: #000;
    background-color: rgba(0,0,0,0.85);
    display: inline-block;
    padding: .25em;
    transition: background-color;
}
.u-lFooter {
    grid-area: footer;
}
.secondLevelNavSplit .modulesArea__row [id] {
   margin-top: -4em;
   padding-top: 4em !important;
}
@media screen and (min-width: 37.5em) {
    .u-Masthead {
        display:flex;
        justify-content: flex-end;
        flex-direction: column;
        min-height: 15rem;
        max-width: 53rem;
    }
    .u-Masthead__siteName {
        font-size: 4.5em
    }
    .u-Masthead__siteName--link {
        align-self: flex-end;
    }
}
@media screen and (min-width: 62em) {
    .u-Masthead__siteName--link {
        margin-left: 0;
    }
}
.u-lContent {
    font-weight: $fontWeightRegular;
}
.Module__title,
.Module__header {
    font-family: $serif;
    font-size: 1.75em;
    line-height: 1;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: $fontWeightBold;
    color: $burgundy-2;
}

@media screen {
    .u-lMain {
        /* float: right; */
        margin-top: 3em !important;
        grid-area: main;
        margin-bottom: 3em !important;
    }
    .u-NavSite__main {
        grid-area: main-navigation;
        margin-bottom: 1.5em !important;
    }
    .u-NavSite__secondary {
        grid-area: second-navigation;
    }
    .u-NavSite {
        display: block;
        padding: 0;
        outline: none;
        visibility: visible;
        width: 100%;
    }
    .u-NavSite__level--1 .u-NavSite__item {
        font: $fontWeightRegular 1.15em/1.1 $sans-serif;
        flex: 0 1 auto;
        line-height: 1;
        padding: .75em;
        text-align: center;
        text-transform: uppercase;
    }
    .u-NavSite__item:link, 
    .u-NavSite__item:visited {
        color: $linkColor;
        border-bottom: none;
    }
    .u-NavSite__item:focus,
    .u-NavSite__item:hover {
        background-color: $linkColorHoverFocus;
        color: $linkColor;
    }
    .u-NavSite__item--isCurrent,
    .u-NavSite__item--isCurrent:visited,
    .u-NavSite__item--isOpen, 
    .u-NavSite__item--isOpen:visited {
        background-color: $linkColorHoverFocus;
        color: $gray-dark;
        .u-NavSite__item {
            color: $gray-dark;
        }
    }
    .u-NavSite__item--isCurrent:focus,
    .u-NavSite__item--isCurrent:hover {
        background-color: #fff;
        color: $linkColor;
    }
    .u-NavSite__level {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .u-NavSite.u-NavSite__secondary {
        width: 100%;
        margin: 0 auto 0;
        top: 0;
        justify-content: center;
        position: sticky;
        .u-NavSite__itemContainer {
            border-right: 1px solid $gray-border;
            &:last-child {
                border-right: none;
            }
        }
    }
    .u-NavSite__level [class*=icon-] img,
    .u-NavSite__level [class*=icon-] svg {
        float: right;
        margin-left: .33em;
    }
    
/* .u-NavSite__level--2
.PageNavContainer .Row {
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.2);
}
.PageNav {
    border: none;
} */ 
    .u-NavSite__level--2 {
        background-color: #fff;
        box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.2);
        border: none;
        padding: .25em;
        flex-flow: wrap;
        justify-content: center;
        .u-NavSite__item {
            text-align: center;
            padding: .5em;
            font: $fontWeightRegular 1em/1.1 $sans-serif;
            text-transform: none;
        }
        .u-NavSite__item,
        .u-NavSite__item:visited {
            color: $linkColor;
        }
        .u-NavSite__item:focus,
        .u-NavSite__item:hover,
        .u-NavSite__item:active {
            color: $gray-dark;
            background-color: $gray-border;
        }
        .u-NavSite__item--isCurrent {
            color: $burgundy-1
        }
        .u-NavSite__item--isCurrent:visited {
            color: $burgundy-1
        }
        .u-NavSite__item--isCurrent:focus {
            color: $gray-light
        }
        .u-NavSite__item--isCurrent:hover {
            color: $gray-light
        }
        .u-NavSite__item--isCurrent:active {
            color: $burgundy-1
        }
        .u-NavSite__item.icon-external svg {
            display: none;
        }
        padding-left: 0;
    }
}
@media screen and (min-width: $tiny) {
    .u-NavSite.u-NavSite__secondary {
        margin: 0 auto 0;
    }
    .u-NavSite__level--2 {
        flex-flow: row;
        .u-NavSite__item {
            padding: .25em .5em;
        }        
    }
}
@media screen and (min-width: $small) {
    .u-NavSite__level {
        flex-flow: row wrap;
        justify-content: center;
    }
    .u-NavSite__level--1 .u-NavSite__item {
        font-size: 1.2em;
        padding-right: .5em;
    }
}
@media screen and (min-width: 62em) {
    .u-NavSite {
        width: 100%;
    }
}
/* end nav */

.u-pageTitle {
    display: block;
    visibility: visible;
    text-align: left;
    font-family: $serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 0.92;
    padding-bottom: 0.2em;
    position: relative;
    margin-bottom: 0.8em;
    margin-top: 0.2em;
    @extend .title-gradient;
    &:after {
        content: "";
        position: absolute;
        width: 3em;
        border-top: 1px solid $burgundy-bright;
        left: 0;
        bottom: -0.25em
    }
}
.u-ArticleListItem__title {
    line-height: 1.1;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0;
    font-weight: $fontWeightBold !important;
}
.u-Article__title,
.parent-site h3 {
    font-size: 1.5em;
    line-height: 1.1;
    margin-top: 0;
    font-family: $serif;
    font-weight: $fontWeightBold;
    letter-spacing: normal;
    text-transform: none;
    color: $burgundy-2;
}
h3.u-ExtendedFooter__listHeader {
    color: #fff;
}
.u-VCard--site {
    .org {
        font: $fontWeightRegular 2em/1.1 $serif;
        text-transform: capitalize;
        letter-spacing: 0;
        margin-bottom: .5em;
    }
}
.u-ArticleListItem__label--dateline {
    margin-bottom: .5em;
    display: block;
}
.u-ArticleNavGroup__navButton,
.u-NewsContactLink a h4 {
    text-align: center;
    font: normal $fontWeightRegular 1.1em/1 $sans-serif;
    text-transform: uppercase;
    padding: 0;
}
.u-ArticleNavGroup__navButton.u-ArticleNavGroup__navButton--archive {
    display: none;
}
.u-folderEvents .u-ArticleNavGroup__navButton.u-ArticleNavGroup__navButton--archive {
    display: inline;
}
.u-lAside {
	.Share {
		margin: 5% 0;
		text-align: center;
		ul {
			margin: 0;
		}
	}
	.u-NewsContact {
		text-align: center;
	}
}
.u-lAside h4 {
    font-size: 2em;
}
.u-ArticleList__systemMessage,
.news-no-item-message {
    font: $fontWeightRegular 1em/1.2 $sans-serif;
    color: $gray-dark;
    text-transform: none;
}
.straight-from-the-students {
    display: block;
    font-size: 1.5em;
    line-height: 1;
    color: $linkColor;
    font-weight: $fontWeightBold !important;
    text-transform: uppercase;
    font-family: $sans-serif;
}
@media screen {
    .u-NavSite {
        display: inherit;
        visibility: visible;
        max-width: 92%;
        margin: 0 4%;
    }
    .u-ArticleGroup {
        margin:0 auto;
        padding: 0 4%;
        max-width: 100%;
    }
    .u-BreadCrumbs.u-BreadCrumbs--news {
        display: block;
        visibility: visible;
        padding-bottom: 1em;
        margin-bottom: 1.5em;
        width: 100%;
    }
    .u-lMain {
        /* margin-top: 13em; */
    }
    .u-pageHome .u-lContent {
        max-width: 90em;
        margin: 0 auto;
    }
    .secondLevelNavSplit {
        .u-lAside {
            display: inherit;
            visibility: visible;
            .u-NewsContact,
            .u-NewsContactLink {
                display: none;
                visibility: hidden;
            }
        }
    }
    .u-pageIndex.secondLevelNavSplit {
        .u-lAside {
            .Share {
                display: none;
                visibility: hidden;
            }
        }
    }
    .u-newsInner {
        /* .u-pageTitle {
            display: none;
            visibility: hidden;
        } */
        .u-lAside {
            .Module__title {
                text-align: left;
            }
            .u-ArticleListItem--event {
                h4 {
                    font-size: 1.25em;
                    letter-spacing: normal ;
                    text-transform: none;
                }
                .dates,
                .u-ArticleListItem__label--location {
                    font-size: 1.13em;
                }
                .u-ArticleListItem__link {
                    margin-bottom: 6%;
                    padding-bottom: 3.5%;
                }
            }
            .dates--dayRange--current { 
                .dateStart {
                    .dateMonth,
                    .dateDay,
                    .dateTime {
                        display: none;
                    }
                }
                .dateThrough {
                    margin-left: 0;
                    text-transform: capitalize;
                }
            }          
        }
        .u-lMain {
            max-width: none;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            /* margin: 0 auto 5%;
            margin: 13em auto 5%; */
            padding: 0 4%;
            overflow: hidden;
        }
        .u-lAside,
        .u-lContent {
            width: 100%;
            /* float: none; */
        }
    }
    .u-newsInner.u-folderArchive,
    .u-newsInner.u-folderNews,
    .u-folderAll-news,
    .u-folderVassar-events,
    .u-folderAll,
    .u-folderVassar-everywhere,
    .u-folderMultimedia,
    .u-folderClassroom-revisited,
    .u-folderReleases,
    .u-folderFeatured-videos {
        .u-lContent {
            width: 100%;
            /* float: none; */
        }
        .u-pageTitle {
            display: inherit;
            visibility: visible;
        }
    }
    .u-folder2019-2020,
    .u-folder2018-2019 {
        .u-ArticleGroup--ongoingEvents {
            display: none;
            visibility: hidden;
        }
    }
    .u-ArticleListItem {
        margin-bottom: 0;
    }
    .u-ArticleListItem__link {
        display: block;
        overflow: hidden;
        margin-bottom: 10%;
        padding-bottom: 7.5%;
    }
    .u-ArticleListItem__thumbnail {
        /* float: none; */
        margin: 0 0 2.5% !important;
        position: relative;
        width: 100%;
    }
    .u-ArticleListItem__summary {
        margin-bottom: 0;
		display: table-cell}
    .u-ArticleListItem__label--externalLink,
    .u-ArticleList__separator,
    .Share__heading,
    .u-folderEvents .u-ArticleListItem__label--dateline {
        display: none;
        visibility: hidden;
    }
    .u-ArticleNavGroup {
        text-align: center;
        width: auto;
    }
    .u-ArticleNavGroup__navButton,
    .u-NewsContactLink a h4 {
        display: inline-block;
        float: none;
        width: inherit;
        margin: 0 .5em .5em 0;
    }
    .u-NewsSidebar {
        margin-bottom: 2em;
    }
    .u-ArticleGroup.u-ArticleGroup--newsSlider.u-ArticleGroup--newsSlider-top {
        margin: 0 4% 0 4%;
        padding: 0;
        max-width: 100%;
        width: 92%;
        display: flex;
        flex-direction: column;
        .Module__title {
            display: block;
            width: 100%;
            margin: 0 0 .3em;
            padding: 0;
            text-align: center;
        }
        .u-ArticleList {
            flex-direction: column;
            display: inherit;
            overflow: hidden;
        }
        .u-ArticleFeature {
            background-color: $gray-light;
            border: 1px solid rgb(116, 102, 97);
            border: 1px solid rgba(116, 102, 97, 0.3);
            margin: 0 0 10%;
            width: 100%;
            .u-ArticleListItem__thumbnail {
                width:100%;
                padding-bottom: 0;
                img {
                    position: relative;  
                }
            }
            .u-ArticleListItem__link {
                border-bottom: none;
                padding: 5%;
            }
        }
        .u-ArticleListItem {
            margin: 0 auto;
            max-width: none;
            padding: 0 0 5% 0;
            width: 100%;
            &:nth-child(3) {
                .u-ArticleListItem__link {
                    border-bottom: none;
                }
            }
        }
        .u-ArticleListItem__link {
            margin-bottom: 0;
        }
        .u-ArticleListItem__summary {
            display: table-cell;
        }
        .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup {
            display: none;
            visibility: hidden;
        }
        .u-ArticleGroup.u-ArticleGroup--newsSlider {
            padding-bottom: 3em;
            margin: 0 auto 0;
        }
    }
    .u-ArticleGroup.u-ArticleGroup--newsSlider.events {
        padding: 4% 2%;
        margin: 0;
        max-width: 100%;
        background: #d4cfce url(https://www.vassar.edu/assets/images/Vassar_QuadGrid-grey.png) repeat;
        background-size: 9em;
        .u-ArticleList {
            max-width: 40em;
            margin: 0 auto;
        }
        .u-ArticleListItem {
            padding: 2%;
        }
        .u-ArticleListItem--event {
            border-radius: .2em;
            border: 1px solid rgb(116, 102, 97);
            border: 1px solid rgba(116, 102, 97, 0.3);
            margin: 0 2% 2%;
            width: 100%;
            background-color: #fff;
        }
        .u-ArticleListItem__link {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .u-ArticleListItem__link:link {
            border-bottom: none;
        }
        .dates {
            order: 1;
            padding: 0 0 4% 0;
            margin: 0 0 4% 0;
            border-bottom: 1px solid rgb(116, 102, 97);
            border-bottom: 1px solid rgba(116, 102, 97, 0.3);
            color: $linkColor;
            text-align: center;
        }
        .dateMonth,
        .dateThrough {
            line-height: 1.1;
            font-size: .8em;
            font-weight: $fontWeightRegular !important;
            text-transform: uppercase;
        }
        .dateThrough {
            margin-right: .25em;
        }
        .dates--dayRange {
            white-space: nowrap;
            .dateStart,
            .dateEnd {
                display: inline-block;
            }
            .dateEnd {
                .dateMonth {
                    display: inline-block;
                    padding-left: 2.9em;				
                }
                .dateDay:before {
                    content: "\2013";
                }
            }
        }
        .dates--dayRange.dates--dayRange--current {
            .dateEnd {
                .dateDay:before {
                    content: "";
                }
            }
            .dateThrough,
            .dateEnd {
                display: inline;
            }
            .dateMonth {
                padding-left: 0;
            }
        }
        .dates--dayRange--current .dateThrough {
            display: inline-block;
        }
        .dateDay {
            line-height: 1;
            font-size: 3.5em;
            font-weight: $fontWeightBold !important;
            display: block;
        }
        .dateStart {
            display: block;
        }
        .u-ArticleListItem__label--location__label:after {
            content: ":";
        }
        .u-ArticleListItem__label--date {
            display: block;
        }
        .u-ArticleListItem__label--date__label,
        .dateYear,
        .dateTime,
        .dates--dayRange--current .dateStart,
        .u-ArticleListItem__label--location {
            @include ac-hiddenVisually;    
        }
        .dateThrough {
            display: none;
        }
        .u-ArticleListItem__title {
            font: $fontWeightRegular 1em/1.2 $sans-serif !important;
            order: 2;
            padding-bottom: .2em;
        }
    }
    .u-pageInner {
        .dates {
            margin-top: .5em;
            font-weight: $fontWeightLight;
            b {
                font-weight: $fontWeightLight !important;
            }
        }
        .u-ArticleListItem__label--location {
            display: block;
            margin-bottom: .5em;
            b {
                font-weight: $fontWeightLight !important;
            }
        }
        .dateMonth {
            margin-right: .25em;
        }
        .dateThrough {
            margin: 0 .25em;
        }
        .dateTime {
            &:before {
                content: ", ";
            }
        }
        .dates--timeRange {
            .dateEnd {
                .dateTime:before {
                    content: "\2013";
                }                    
            }
        }
        .u-ArticleListItem__label--location__label:after {
            content: ": ";
        }
		.dateYear {
			@include ac-hiddenVisually;
            /* visibility: visible;
            &:before {
                content: ", ";
            } */
		}
    }
    /* add to central files*/
    .Module--events {
        .dates,
        .dates b {
            font-weight: bold !important;
        }
        .dateMonth {
            margin-right: .25em;
        }
        .dateThrough {
            margin: 0 .25em;
        }
        .dateYear,
        .dateTime {
            &:before {
                content: ", ";
            }
        }
    }
}
@media all and (min-width: 37.5em) {
    .u-lMain {
        /* margin-top: 8em;
        margin-top: 0; */
    }
    .u-ArticleGroup {
        max-width: 45em;
        padding: 0;
    }
    .u-folderArchive,
    .u-folderAll-news,
    .u-folderAll,
    .u-folderVassar-events,
    .u-folderVassar-everywhere,
    .u-folderMultimedia,
    .u-folderClassroom-revisited,
    .u-folderReleases,
    .u-pageVassarevents {
        .u-lContent {
            max-width: 45em;
            margin: 0 auto;
        }
        .u-lAside {
            display: none;
            visibility: hidden;
        }
    }
    .u-ArticleListItem__link {
        display: block;
        overflow: hidden;
        margin-bottom: 6%;
        padding-bottom: 3.5%;
    }
    .u-ArticleListItem__thumbnail {
        float: left;
        margin: 0 2.5% 2.5% 0 !important;
        padding-bottom: 0;
        width: 13em;
    }
    .u-ArticleNavGroup__navButton,
    .u-NewsContactLink a h4 {
        display: inline;
        float: inherit;
        width: inherit;
    }
	.u-lAside {
		.Share {
			li {
				width: 15%;
			}
		}
	}
    .u-ArticleGroup.u-ArticleGroup--newsSlider.u-ArticleGroup--newsSlider-top {
        .u-ArticleListItem {
            width: 100%;
        }
        .u-ArticleListItem__thumbnail  {
            padding-bottom: 0;
            width: 30%;
            float: left;
            margin: 0 2% 2% 0 !important;
            img {
                position: relative;
            }
        }
    }
    .u-ArticleGroup.u-ArticleGroup--newsSlider.events {
        .u-ArticleListItem__link {
            flex-direction: row;
        }
        .dates {
            padding: 0 4% 0 0;
            margin: 0 4% 0 0;
            border-bottom: none;
            border-right: 1px solid rgb(116, 102, 97);
            border-right: 1px solid rgba(116, 102, 97, 0.3);
        }
    }
}
@media all and (min-width: 62.5em) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider.u-ArticleGroup--newsSlider-top {
        margin-bottom: 4%;
		flex-direction: unset;
        flex-wrap: wrap;
		.u-ArticleFeature {
			width:60%;
            margin: 0;
            .u-ArticleListItem__link {
                padding: 5%;
            }
            .u-ArticleListItem__title {
                font-size: 1.5em;
                font-weight: $fontWeightBold !important;
                font-family: $serif;
                letter-spacing: normal;
                line-height: 1;
                padding-bottom: .2em;
            }
		}
		.u-ArticleList {
			width: 40%;
            padding-left: 2%;
			flex-direction: column;
            justify-content: space-between;
            .u-ArticleListItem__summary {
                display: none;
            }
            .u-ArticleListItem__title {
                font-weight: $fontWeightRegular !important;
                font-family: $sans-serif;
                font-size: 1em;
            }
		}
        .u-ArticleListItem {
            max-width: none;
			width: 100%;
            padding: 0 2% 2%;
        }
        .u-ArticleListItem__link {
            border-bottom: none;
        }
        .u-ArticleListItem:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            .u-ArticleListItem__link {
                padding-bottom: 0;
            }
            .u-ArticleListItem__thumbnail {
                margin-bottom: 0 !important;
            }
        }
        .u-ArticleListItem__thumbnail  {
            padding-bottom: 0;
            width: 60%;
            float: left;
            margin: 0 2% 4% 0 !important;
            img {
                position: relative;
            }
        }
    }
    .u-ArticleGroup.u-ArticleGroup--newsSlider.events {
        .u-ArticleList {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .u-newsInner {
        .u-lMain {
            display: flex;
            /* margin-top: 8em;
            margin-top: 0; */
        }
        .u-lContent {
            max-width: 40em;
            margin: 0 4% 0 auto;
        }
        .u-lAside {
            width: 20em;
            margin: 0 auto 0 0;
        }
    }
	.u-lAside {
		.Share,
		.u-NewsContact {
			text-align: left;
            width: 20em;
		}
	}
    .u-newsInner.u-folderArchive,
    /*.u-newsInner.u-folderEvents,*/
    .u-newsInner.u-folderNews,
    .u-folderAll-news,
    .u-folderAll,
    .u-folderVassar-events,
    .u-folderVassar-everywhere,
    .u-folderReleases,
    .u-pageVassarevents {
        .u-lContent {
            max-width: 46em;
			margin: 0 auto;
        }
    }
    .u-folderFeatured-videos {
        .u-lContent {
            max-width: 100%;
            float: none;
            margin: 0;
        }
        .u-lAside {
            display: none;
            visibility: hidden;
        }
    }
}
.u-lHeader {
    background: #666 url("../images/0191-19-10-ali-main-drone-vassar-vb-2055.jpg") no-repeat top;
    background-size: cover;
}
.u-ArticleListItem__link {
    transition: all .2s;
    &:link {
        border-bottom: 1px dashed rgb(116, 102, 97);
        border-bottom: 1px dashed rgba(116, 102, 97, .3);
    }
    .u-ArticleListItem__title,
    .u-ArticleListItem__summary,
    .u-Figure__image {
        transition: all .2s;
    }
    &:visited {
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorVisited;
        }
    }
    &:hover,
    &:focus {
        border-bottom: 1px dashed rgb(116, 102, 97);
        border-bottom: 1px dashed rgba(116, 102, 97, .3);
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorHoverFocus;
        }
        .u-Figure__image {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
        .figure {
          background: $burgundy-bright;
        }
        img {
          opacity: 0.4;
        }
    }
    &:active {
        .u-ArticleListItem__title,
        .u-ArticleListItem__summary {
            color: $linkColorActive;
        }
        .u-Figure__image {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }
}
.u-NewsContactLink a {
    border-bottom: none;
}
.u-ArticleNavGroup__navButton,
.u-NewsContactLink a h4 {
    background-color: transparent;
    color: $linkColor;
    border-bottom: 2px solid $linkColor !important;
    background-color: transparent;
    &:visited {
        color: $linkColor;
        border-bottom: 2px solid $linkColor !important;
        background-color: transparent;
    }
    &:hover,
    &:focus {
        color: $linkColorHoverFocus;
        border-bottom: 2px solid $linkColorHoverFocus !important;
        background-color: transparent;
    }
    &:active {
        color: $linkColorActive;
        border-bottom: 2px solid $linkColorActive !important;
        background-color: transparent;
    }
}
.u-ArticleSidebarGroup--images {
    border-bottom: 1px dashed rgb(116, 102, 97);
    border-bottom: 1px dashed rgba(116, 102, 97, .3);
}
.Module__fullWidthInTheMedia h2.Module__header,
.u-ArticleGroup--newsSlider-top .Module__title,
.u-ArticleGroup--newsSlider.events .Module__title {
    font-size: 3em;
    margin: 0 25%;
    border: none;
    padding: .75em 0 .15em;
    a, a:visited {
        @extend .title-gradient;
        border-bottom: none;
        &:after {
            content: "\2023";
            margin-left: .25em;
            font-size: .5em;
        }
    }
    a:hover,
    a:focus {
        color: $linkColorHoverFocus;
        text-transform: none;
        background: linear-gradient(135deg, $linkColorHoverFocus 0%, $linkColorHoverFocus 70%);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.secondLevelNavSplit {
    @media screen {
        .u-lMain {
            /* margin: 23em auto 5% !important;
            margin: 0 auto 5% !important; */
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (min-width: 28.12em) {
        .u-lMain {
            /* margin: 12em auto 5% !important;
            margin: 0 auto 5% !important; */
        }
    }
}

/* News slider */
.u-ArticleGroup.u-ArticleGroup--newsSlider {
    .u-ArticleNavGroup__navButton--archive {
        text-align: center;
        font: normal $fontWeightRegular 1.75em/1 $sans-serif;
        text-transform: uppercase;
        letter-spacing: .03em;
    }
    .straight-from-the-students {
        display: block;
        font-size: 1.5em;
        line-height: 1;
        color: $linkColor;
        font-weight: 600 !important;
        text-transform: $fontWeightBold;
        font-family: $sans-serif;
    }
}
@media screen {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 3% auto 0;
        width: 100%;
        .u-ArticleListItem__summary,
        .u-ArticleListItem__label {
            display: none;
        }
        .u-ArticleListItem__title {
            margin: 0;
            font: $fontWeightRegular 1.5em/1.1 $serif;
            text-transform: none;
            margin-bottom: .2em;
        }
        .u-ArticleList {
            width: 100%;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .u-ArticleListItem {
            margin: 0;
            padding:1.3em;
            width:15em;
        }
        .u-ArticleListItem__thumbnail {
            position: relative;
        }
        .u-ArticleListItem__thumbnail img {
            position: relative;
        }
        .u-ArticleListItem__thumbnail {
            float: none;
        }
        .u-ArticleNavGroup {
            position: relative;
            width: 70%;
            margin: 3% auto 0;
            padding: 0;
            overflow: hidden;
        }
        .u-ArticleNavGroup__navButton--archive {
            margin: 0 auto;
            padding: 0 0 .19em;
            width: 3.5em;
            float: none;
        }
    }
}
@media all and (min-width: $small) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 3% auto 0;
    }
}
@media all and (min-width: 67.5em) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        .u-ArticleList {
            flex-wrap: nowrap;
        }
    }
}
.u-ArticleGroup.u-ArticleGroup--newsSlider {   
    .u-ArticleListItem__thumbnail {
        margin: 0 0 2% 0 !important;
    }
    .u-ArticleListItem__thumbnail:after {
        border: 1px solid rgba(116, 102, 97, 0.5);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .u-ArticleNavGroup__navButton--archive,
    .Module__fullWidthFacts .moreLink {
        background: none;
        background-color: $linkColor;
        color: #ff;
        border-bottom: none !important;
        &:visited {
            background: none;
            background-color: transparent;
            color: #fff;
            border-bottom: none !important;
        }
        &:hover,
        &:focus {
            background: none;
            background-color: $linkColorHoverFocus;
            color: #fff;
            border-bottom: none !important;
        }
        &:active {
            background: none;
            background-color: $linkColorActive;
            color: #fff;
            border-bottom: none !important;
        }
    }
}
/* end News slider */

/* In the media */
.u-ArticleListItem--in-the-media h4.u-ArticleListItem__title {
    font: $fontWeightRegular 1.2em/1.2 $sans-serif !important;
}
.Module__fullWidthInTheMedia {
    .Module.Module--mainContent.Module--list .Module__listItem,
    .Module.Module--mainContent.Module--list .Module__listItem a {
        text-transform: none;
    }
    .Module__header {
        display: block;
        text-align: center;
        font-size: 3em;
        padding-top: 0;
    }
    h2.Module__header {
        margin: 0 25%;
        border-top: 1px solid rgba(116, 102, 97, 0.27);
        padding: .75em 0 .15em;
    }
    .Module__title {
        font-size: 1.1em;
        display: inherit;
        line-height: 1;
        letter-spacing: 0;
    }
    .Module__listItem {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border-bottom: none;
        height: auto;
        .Module__link {
            .Module__title {
                font-family: $sans-serif;
                font-weight: $fontWeightRegular;
                color: $linkColor;
                &:visited {
                    color: $linkColor;
                }
                &:hover,
                &:focus {
                    color: $linkColorHoverFocus;
                }
                &:active {
                    color: $linkColor;
                }
            } 
            &:link {
                border-bottom: none;
            }
        }
    }
}
.js {
    .u-ArticleGroup--newsMediaTicker>ul.Module__list {
        overflow: visible;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 9em 0 0 0;
        max-width: 40em;
    }
    .u-ArticleGroup--newsMediaTicker>ul.Module__list>li {
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .u-ArticleGroup--newsMediaTicker>ul.Module__list>li:first-child {
        display:block
    }
    .items__nav {
        .items__tabLink {
            width:1.25em;
            height:1.25em;
        }    
    }
}
@media all and (min-width: 21.88em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 8em 0 0 0;
        }
    }
}
@media all and (min-width: 34.38em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 6em 0 0 0;
        }
    }
}
@media all and (min-width: 46.88em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 4em 0 0 0;
        }
    }
}
@media all and (min-width: 50em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            margin: 0 auto;
            padding: 4.5em 0 0 0;
        }
        .items__nav {
            .items__tabLink {
                width:1em;
                height:1em;
            }    
        }
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.items__nav {
    margin:0 0 3em 0;
    padding:0;
    text-align:center;
    .items__tab {
        list-style:none;
        display:inline;
        margin:0 0.5em
    }
    .items__tab.active .items__tabLink {
        background: $linkColorActive;
    }
    .items__tabLink {
        background:$gray-light;
        border-radius:50%;
        width:1.25em;
        height:1.25em;
        display:inline-block;
        overflow:hidden;
        text-indent:-900px;
        color:transparent;
    }
    a.items__tabLink {
        border-bottom: none;
    }
    .items__tabLink:hover,
    .items__tabLink:focus {
        background:$linkColorHoverFocus;
    }
    .items__tabLink:active {
        background:$linkColorActive;
    }
}
/* End In the media */

/* featured video  */
ul.videoList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    list-style: none;
    padding-left: 0;
    a {
       border: 1px solid $linkColor !important;
        display: grid;
        grid-template: 
            "videoThumbnail"
            "videoHeader"
            /*"videoCaption"*/;
        grid-template-rows: auto 1fr;
        padding: 1em 5% !important;
        text-decoration: none !important;
        &:hover {
            background-color: $gray-light;
            border-color: $linkColorHoverFocus;
            color: $linkColorHoverFocus;
            transform: scale( 1.0125 );
            transition: all .25s ease-out;
            box-shadow: 0 0 0.5em 0.25em rgb(179, 179, 179);
        }
    }
    figcaption {
        strong {
            color: $gray-dark;
            font-size: 1.05em;
        }
        em {
            color: $gray-dark;
            font-size: .9em;
            line-height: 0 !important;
        }
        strong~em::before {
            content: "\A";
            display: block;
        }
    }
    figure {
        margin-bottom: 0;        
    }
    h3 {
        font: $fontWeightRegular 1em $sans-serif;
        grid-area: videoHeader;
        line-height: 1.1;
        margin: 0;
        text-transform: none;
        letter-spacing: normal;
    }
    img {
        grid-area: videoThumbnail;
        width: 100%;
        margin-bottom: .3em;        
    }
    li {
        display: flex;
    }
    .imageOverlay {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../../assets/images/video-play-button-white.png);
            background-size: cover;
         }    
    }
}
.u-folderClassroom-revisited ul.videoList .imageOverlay:after {
        background-image: url();
}
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal iframe
{
    border: 0;
}

.modal-backdrop
{
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
}

.modal-backdrop.fade
{
    opacity: 0;
}

.modal-backdrop.show
{
    opacity: .94;
}

.modal-body
{
    position: relative;
}

.modal-content
{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1A1A1A;
    border-radius: .5em;
    /* offset header height to vertically center modal */
    margin-top: -3.5em;
    padding: 0 1em 1em;    
    position: relative;
}

.modal-dialog
{
    margin: 0 auto;
    width: 90%;
}

.modal.fade
{
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/* override Admission styling */
.modal.fade:after,
.modal-backdrop.fade:after
{
    display: none;
    visibility: hidden;
}
/* override Admission styling */

.modal.fade.show
{
    opacity: 1;
}

.modal.fade .modal-dialog
{
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .4s ease-out;
    transform: translate(0,-100%);
}

.modal-header
{
    padding: 1em 0;
    text-align: right;
}

.modal-header .close
{
    background-color: #111;
    border: solid .125em #aaa;
    color: #efefef;
    cursor: pointer;
}

.modal-header .close:hover
{
    background-color: #fefefe;
    color: #333;
}

.modal-open
{
    overflow: hidden;
}

.modal-open .modal
{
    overflow-x: hidden;
    overflow-y: auto;
}

/* override JS display: block */
.modal.show
{
    /* display: flex !important; */
    align-items: center;
}
/* override JS display: block */

.modal.show .modal-dialog
{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width: 60em)
{
    .modal-dialog
    {
        margin: 1em auto;
        width: 60%;
    }
}
ul.videoList
{
    grid-template-columns: 1fr;
}

@media all and (min-width: 34.38em)
{
    ul.videoList
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 56.25em)
{
    ul.videoList
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.u-folderFeatured-videos {
    .modulesArea__row {
        margin-bottom: 3em;
        padding-bottom: 1em;
        border-bottom: 1px solid $gray-basic;
        /* remove after proper in-page nav installed */
        &:first-of-type {
            h2.Module__title,.videoGroup {
                display: none;
            }
            margin-bottom: 1em;
            padding-bottom: 0;
            border-bottom: 0px solid transparent;
        }
    }
    .Module__desc,
    .u-pageTitle {
        max-width: 39em;
    }
    .u-pageTitle {
        /*text-align: center;
        &:after {
            left: 50%;
            margin-left: -1.5em;
        }*/
    }
}
/* Vassar Events form */
.buttonContainer,
.VassarEventsFormContainer .button {
	display:flex;
	justify-content:center;
	margin:1em 0
}
.button-link,
.VassarEventsFormContainer .button {
	background-color:$burgundy-1;
	color:#fff !important;
	border:1px solid #fff
}
.button-link:visited {
	background-color:$burgundy-1;
	color:#fff !important
}
.button-link:active,
.VassarEventsFormContainer .button:active {
	background-color:$gray-basic;
	color:#fff !important
}
.button, 
.VassarEventsFormContainer .button {
	margin-top:0 !important;
	transition:none !important
}
.button:link,
.VassarEventsFormContainer .button {
	background:$burgundy-1;
	font-size:1.4em;
	display:inline-block;
	padding:0.4em 0.6em;
	border-radius:0.4em;
	border:none
}
.button:link,.button:visited{
	color:#fff !important
}
.VassarEventsFormContainer .button:hover,
.VassarEventsFormContainer .button:focus,
.events-email-subscription:hover,
.events-email-subscription:focus {
	background-color:$gray-basic;
	color:#fff !important
}
.VassarEventsFormContainer [id] {
    margin-top: 0 !important;
    padding-top: 0 !important;
    .button {
        padding-top: .4em !important;
    }
}
.VassarEventsFormContainer {
    max-width: 25em;
    margin: 2em auto;
    p {
        line-height: 1.5;
    }
}
.VassarEventsFormContainer {
    margin: 2em auto;
    .mc-field-group {
        margin: 0 0 1em;
        display: flex;
        flex-direction: column;
    }
    .indicates-required {
        margin: 0 0 1em;;
    }
    #mce-responses {
        margin: 1em 0;
        font-weight: 700;
        color: #95192a;
    }
}
.events-email-subscription {
    font-size: 1.2em !important;
    margin-bottom: 2em !important;
}
/*MG 4/1 Daria req; hide posted by on all pages except u-folderReleases*/
.u-newsInner:not(.u-folderReleases) .u-ArticleListItem__label--dateline {
    display:none;    
}